.primaryText {
    width: 100vw;
    font-size: 16pt;
    font-weight: normal;
    font-style: normal;
    color: rgb(68,101,144);
    padding-bottom: 3px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(187,187,187);
    border-bottom-style: solid;
    margin: 0;
    padding: 8px 0px;
    text-align: start;
}

.selectedFilterText {
  font-size: 13pt;
  padding: 0px 4px;
  color: #1010ef;
  text-decoration: underline;
  text-decoration-color: #1010ef;
  cursor: pointer;
}

.filterText {
    font-size: 13pt;
    padding: 0px 4px;
    color: rgb(68,101,144);
    cursor: pointer;
}

.filterText:hover {
  text-decoration: underline;
  text-decoration-color: #b26a2f;
  color: #b26a2f;
}

.hoverUnderline:hover {
    text-decoration: underline;
    text-decoration-color: #b26a2f;
    color: #b26a2f;
}

.moduleList {
    margin: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: start;
}

.marginVertical {
    margin: 30px 30px;
}

.container {
    width: 100%;
    text-align: start;
}

.container p {
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
}

.nameText {
    font-family: Arial;
    font-size: 15pt;
    font-weight: normal;
    font-style: normal;
    color: rgb(81,81,81);
    text-align: start;
}

.moduleBox {
    width: 100%;
    border: 1px solid rgb(197, 194, 194);
    padding: 0px 30px;
    margin: 20px;
}

.filterBox {
    width: 100%;
    border: 1px solid rgb(81,81,81);
    padding: 50px;
    margin: 20px;
}

.filterRow {
  display: flex;
  align-items: center;
  justify-content: center;
}


.collapse {
  font-size: 15px !important;
  width: 175px;
  height: 25px !important;
  margin-right: 16px !important;
}

.expand {
  font-size: 15px !important;
  width: 175px;
  height: 25px !important;
  margin-right: 16px !important;
}

.cancel {
  font-size: 15px !important;
  width: 115px;
  height: 25px !important;
}

.table {
    width: 100%;
    table-layout: fixed;
    display: table;
    border-collapse: collapse;
    margin: 20px;
    margin-top: 4px;
  }

  .th {
    font-family: Verdana,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #4b6987;
    background-color: #f9f9f9;
    vertical-align: middle;
    border-width: 1px;
    border-color: rgb(230,230,230);
    border-style: solid;
    padding: 2px;
  }

  .td {
    color: #004b91;
    font-family: Arial,sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    line-height: 100%;
    vertical-align: middle;
    border-width: 1px;
    border-color: rgb(230,230,230);
    border-style: solid;
    padding: 8px 4px;
  }

  .td:hover {
    text-decoration: underline;
    text-decoration-color: #b26a2f;
    color: #b26a2f;
    cursor: pointer;
  }

  .select {
    font-size: 15px;
  }

  .firstCol {
    text-align: center;
  }

  .first {
    background-color: #f0ecec;
  }

  .odd {
    background-color: #fff;
  }

  .even {
    background-color: #f9f8f9;
  }